<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	  <servlet>
	    <servlet-name>StockAction</servlet-name>
	    <servlet-class>com.duapp.action.StockAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>TaskAction</servlet-name>
	    <servlet-class>com.duapp.action.TaskAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>IndexAction</servlet-name>
	    <servlet-class>com.duapp.action.IndexAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>ContactsAction</servlet-name>
	    <servlet-class>com.duapp.action.ContactsAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>UploadAction</servlet-name>
	    <servlet-class>com.duapp.action.UploadAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>DownloadAction</servlet-name>
	    <servlet-class>com.duapp.action.DownloadAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>loginAction</servlet-name>
	    <servlet-class>com.duapp.action.LoginAction</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>StockKlineDataSpiderAction</servlet-name>
	    <servlet-class>com.duapp.action.StockKlineDataSpiderAction</servlet-class>
	  </servlet>



	  <servlet-mapping>
	    <servlet-name>StockAction</servlet-name>
	    <url-pattern>/stock.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>TaskAction</servlet-name>
	    <url-pattern>/task.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>IndexAction</servlet-name>
	    <url-pattern>/index.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>ContactsAction</servlet-name>
	    <url-pattern>/contacts.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>UploadAction</servlet-name>
	    <url-pattern>/upload.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>DownloadAction</servlet-name>
	    <url-pattern>/download.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>loginAction</servlet-name>
	    <url-pattern>/login.do</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>StockKlineDataSpiderAction</servlet-name>
	    <url-pattern>/stockKlineDataSpiderAction.do</url-pattern>
	  </servlet-mapping>
	  
	  
	  <filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.duapp.action.LoginFilter</filter-class>
	  </filter>
	  <filter-mapping>
	  <filter-name>loginFilter</filter-name>
	  <url-pattern>*.jsp</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	  </filter-mapping>
	  
	   <session-config>
         <session-timeout>60</session-timeout><!-- 分钟 -->
       </session-config>
    
	  <welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	  </welcome-file-list>
</web-app>
